<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传</title>
    <script src="/statics/js/jquery.min.js" type="text/javascript"></script>
</head>
<body>
    <form action={{.}} enctype="multipart/form-data" method="post">
        封面：<input id ="pic" type="file" name="image" onchange="fileSelected();">
        视频：<input id ="pic2" type="file" name="file"  onchange="fileSelected();">
        视频名字：<input id ="pic3" type="text" name="name">

    </form>
    <input  type="submit" value="上传" onclick="uploadFile();" />
<script>
    function uploadFile() {
        var files = document.getElementById('pic').files; //files是文件选择框选择的文件对象数组
        var files2 = document.getElementById('pic2').files;
        var name = document.getElementById('pic3').value;
        var data={"name":name};
        jsonData = JSON.stringify(data);
        if(files.length == 0) return;
        c = document.cookie.split(";")
        username = c[1].split("=")[1]
        var form = new FormData(),
            url = {{.}}, //服务器上传地址
            file = files[0];
            file1 = files2[0]
        form.append('image', file);
        form.append('file', file1);
        form.append('name', name);


        fetch(url, {
            method: 'POST',
            body: form
        }).then(function(response) {
            if (response.status >= 200 && response.status < 300) {
                return response;
            }
            else {
                var error = new Error(response.statusText);
                error.response = response;
                throw error;
            }
        }).then(function(resp) {
            return resp.json();
        }).then(function(respData) {
            console.log('文件上传成功', respData);
        }).catch(function(e) {
            console.log('文件上传失败', e);
        });
        {{/*$.ajax({*/}}
            {{/*url:{{.}},*/}}
            {{/*type:"post",*/}}
            {{/*contentType:"application/json;charset=utf-8",*/}}
            {{/*data:jsonData,*/}}
            {{/*dataType:"json",*/}}
            {{/*success:function (data) {*/}}
                {{/*alert(data.msg);*/}}
            {{/*},*/}}
            {{/*error:function (e) {*/}}
                {{/*alert("上传失败")*/}}
            {{/*}*/}}
        {{/*});*/}}


    }

</script>
</body>
</html>